/* MARK: - Body Styling/Background - */
html {
	width: 100%;
	height: 100%; }

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	transition: .3s;
	background: #2b2b36;
	color: #f2f2f2;
}

/* MARK: - Header Styling - */
header h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: none;
	text-align: center;
	font-size: 32pt;
}
#title a { transition: .3s; }
#title a:link, header h1 a:visited { color: #d1d1d1; }
#title a:hover { color: #f2f2f2; }
#title a:active { color: #9e9e9e; }

/* MARK: - Loading icon modified from loading.io */
#loading-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2b2b36;
}

#lds-ring {
  display: inline-block;
  position: absolute;
  width: 128px;
  height: 128px;
  z-index: 1000;
  transition: .5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lds-ring div {
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border-radius: 50%;
    animation: lds-ring 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    background: none;
    box-shadow: inset 20px 0px 10px #ffff72, inset 35px 0px 15px #c7c732;
    -moz-box-shadow: inset 20px 0px 10px #ffff72, inset 35px 0px 15px #c7c732;
}

@keyframes lds-ring {
  0% { transform: rotate(325deg); }		/* Start at an angle */
  100% { transform: rotate(685deg); }	/* End at start angle + 360 for full rotation */
}

/* MARK - Button Styling - */
.button-container { 
	display: flex;
	justify-content: space-around;
	margin-top: auto;
	margin-bottom: 20px;
}

.like-button, .share-button, #dark-toggle-button {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 24pt;
	transition: .4s;
}
.like-button { color: #ffabab; }
.like-button:hover { text-shadow: 0 0 10px #995757; }
.share-button:hover { text-shadow: 0 0 10px grey; }
.share-button a { transition: .3s; }
.share-button a:link, .share-button a:visited { color: #c2c2c2; }
.share-button a:active { color: #858585; }
#dark-toggle-button { 
	color: #f2f2f2; 
	position: absolute;
	right: 10px;
	top: 20px;
	overflow-y: hidden;
}

/* MARK - Page Not Found Styling - */
#not-found {
	text-align: center;
	padding-top: 10vh;
}

#return-home a { transition: .3s; }
#return-home a:link, #return-home a:visited { color: #d1d1d1; }
#return-home a:hover { color: #f2f2f2; }
#return-home a:active { color: #9e9e9e; }


/* MARK - End of Page Message - */
#end-of-page {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* MARK - APOD/Single Image Styling - */
.single-img-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	border: 10px solid;
	border-color: #363645;
	border-radius: 10px;
	background-color: #444457;
}

.single-img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.single-img img { width: auto; max-width: 900px; max-height: 500px; }

.single-data { 
	display: flex;
	padding-left: 30px;
	padding-right: 30px;
	flex-direction: column;
}

.single-data p { font-size: 13pt; margin-top: 4px; }
.single-data h1 { margin-bottom: 4px; }
#apod-pic, #apod-video { padding-left: 20px; }
#apod-video { width: 1024px; height: 690px; border: none; }

/* MARK - Curiosity Photos Styling - */
#curiosity-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 50px;
}

.rover-pic-container { 
	display: flex;
	flex-direction: column;
	width: 25%;
	margin: 15px 15px 0 0;
	border: 10px solid;
	border-color: #363645;
	border-radius: 10px;
	background-color: #444457;
}

.rover-pic { width: 100%; }
.rover-title { margin-bottom: 4px; }
.rover-date { margin-top: 4px; }
.rover-title, .rover-date { padding-left: 10px; padding-right: 10px; }

/* MARK - Other - */
.help { cursor: help; }
.not-allowed { cursor: not-allowed; }

/* MARK - Light Mode Colors - */
body.light-mode { background: #b8f4ff; color: black; }

#title.light-mode a:link, #title.light-mode a:visited, 
#return-home.light-mode a:link, #return-home.light-mode a:visited, 
#dark-toggle-button.light-mode { color: black; }

#title.light-mode a:hover, #return-home.light-mode a:hover { color: blue; }
#title.light-mode a:active, #return-home.light-mode a:active { color: #9e9e9e; }
#loading-container.light-mode { background-color: #2b2b36; }
.like-button.light-mode { color: #ffabab; }
.like-button:hover.light-mode { text-shadow: 0 0 10px #995757; }
.share-button:hover.light-mode { text-shadow: 0 0 10px grey; }
.share-button.light-mode a:link, .share-button a:visited { color: #c2c2c2; }
.share-button.light-mode a:active { color: #858585; }
.single-img-container.light-mode, .rover-pic-container.light-mode { 
	border-color: #363645; 
	background-color: #444457; 
}

/* MARK - Light Mode Button Animation - */
.toggle-anim {
	animation: slide-down 1s;
}

@keyframes slide-down {
	0% { transform: translateY(0); }
	30% { transform: translateY(44px); }
	40% { transform: translateY(44px); }
	100% { transform: translateY(0); }
}

/* MARK: - Media Queries for different screen sizes - */
@media only screen and (max-width: 1200px) {
	header h1 { font-size: 24pt; }
	.single-img-container { flex-direction: column; }
	.single-img img { width: 100%; max-height: 1000px; }
	#apod-pic, #apod-vid { padding-left: 0px; }
}

@media only screen and (max-width: 900px) {
	#curiosity-container { flex-direction: column; margin-top: 0px; }
	.rover-pic-container, .single-img-container { 
		width: 80%; 
		margin: 15px auto 0;
	}
	.rover-title { font-size: 1.15em; }
	.single-data { padding-left: 10px; padding-right: 10px; }
}