/* MARK: - Body Styling/Background - */
html {
	width: 100%;
	height: 100%; }

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	transition: background-color 0.4s;
	background-color: #2b2b36;
	color: #f2f2f2;
}

/* MARK: - Header Styling - */
header h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: none;
}

/* MARK: - Loading icon modified from loading.io */
#loading-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2b2b36;
}

#lds-ring {
  display: inline-block;
  position: absolute;
  width: 128px;
  height: 128px;
  z-index: 1000;
  transition: .5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lds-ring div {
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    background: none;
    box-shadow: inset 20px 0px 10px #ffff72, inset 35px 0px 15px #c7c732;
    -moz-box-shadow: inset 20px 0px 10px #ffff72, inset 35px 0px 15px #c7c732;
}

@keyframes lds-ring {
  0% { transform: rotate(325deg); }		/* Start at an angle */
  100% { transform: rotate(685deg); }	/* End at start angle + 360 for full rotation */
}

/* MARK - Button Styling - */
.like-button, .share-button, #dark-toggle-button {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 24pt;
	transition: .4s;
}
.like-button { color: #a81414; }
.like-button:hover { text-shadow: 0 0 10px red; }
.share-button:hover { text-shadow: 0 0 10px grey; }

/* MARK - APOD Styling - */

/* MARK - Curiosity Photos Styling - */
#curiosity-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.rover-pic-container { 
	width: 25%;
	margin: 15px 15px 0 0;
	border: 10px solid;
	border-color: #363645;
	border-radius: 10px;
	background-color: #444457;
}

.rover-pic {
	width: 100%;
}

/* MARK - Other - */
.help { cursor: help; }

img { width: 200px; height: auto; }
#apod-video { width: 320px; height: 240px; border: none; }

/* MARK: - Media Queries for different screen sizes - */
@media only screen and (max-width: 900px) {
	#curiosity-container {
		flex-direction: column;
	}
	.rover-pic-container { 
		width: 80%; 
		margin: 15px auto 0;
	}
}